*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 50px 100px;
}
.container:after{
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    width: 1400px;
    height: 900px;
    background-color: #f4f5f4;
    background-size: cover;
    z-index: -1;
    /* filter: blur(10px); */

}
.left{
    background-color:#f4f5f4;
    width: 200px;
    margin: 30px 150px;
    
   
}
.contact-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}
.map{
    display: block;
}

.right
{
    padding:  25px 40px;
    background-color: #FFF;
}
.btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #2ecc71;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    transition: .3s;

}
.btn:hover{
    background-color:#27ae60 ;
}
h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h2:after{
    content: '';
    position:absolute;
    left:50%;
    bottom: 0;
    transform: translate(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}
.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: rgba(230,230,230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3%;
    border: 2px solid rgba(0,0,0,0);
}
.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
}
.area{
    min-height: 150px;
}
