* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.social {
  padding-top: 40px;
}

.connects {
  color: #f99500;
  font-size: 40px;
}

.topbar {
  background-color: rgb(17, 54, 87);
  height: 45px;
  color: white;
  padding-top: 10px;
}

.l {
  margin: 37px 10px;
}
.logobar img {
  height: 100px;
  padding-left: 50px;
  width: 170px;
  height: 120px;
}

header {
  background-color: #f99500;
  display: flex;
  justify-content: center;
}

.information {
  font-size: 40px;
  text-align: center;
  padding: 20px;
  color: #0072aa;
}

.demo {
  background-color: #f1f4f5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 13px;
  border-top: 1px solid #e0e3e5;
}

.ones {
  color: #337ab7;
  border-right: 1px solid #f0e5d5;
  padding-right: 56px;
}
.ones p {
  color: black;
}
.twoss {
  color: #337ab7;
  border-right: 1px solid #f0e5d5;
  padding-right: 56px;
}
.twoss p {
  color: black;
}

.threes {
  color: #337ab7;
}
.threes p {
  color: black;
}
.demo .towss {
  border-left: 1px solid silver;
  padding-right: 10px;
}
.ones i {
  font-size: 33px;
}
.twoss i {
  font-size: 33px;
}
.threes i {
  font-size: 33px;
}
#main img {
  position: relative;
  height: 10px;
  object-fit: cover;
}

ul {
  display: flex;
}
.information2 {
  font-size: 20px;
}
.info {
  display: flex;
  padding-right: 20px;
}

#main img {
  width: 100%;
  height: 700px;
}

#main {
  position: relative;
}

h4 {
  position: absolute;
  left: 20%;
  top: 50%;
  color: white;
  font-size: 100px;
}
.l {
  display: flex;
  justify-content: space-evenly;
}
.icon {
  color: #f99500;
  font-size: 30px;
}
h6 {
  position: absolute;
  left: 20%;
  top: 70%;
  color: white;
  font-size: 50px;
}

.afl {
  margin: 20px;
  font-weight: 900;
  font-size: 40px;
}
.flt {
  margin: 20px;
  font-weight: 900;
}

.search {
  padding: 25px;
  background-color: white;
}
.search h3 {
  color: rgb(20, 19, 19);
  margin: 10px;
  font-size: 25px;
  padding-left: 1px;
  font-weight: 900;
}
.searchbar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  margin-top: 8px;
}
.fa-search {
  padding-left: 140px;
}
.searchh {
  font-size: 20px;
}
.tour {
  padding: 3px 10px 1px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.a {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.ll {
  border-right: 1px solid #f7eeee;
  padding-right: 50px;
}
.aff {
  display: flex;
  justify-content: space-evenly;
}
.aff img {
  width: 80px;
  height: 60px;
}

.tour i {
  color: #a80502;
  margin-right: 4px;
}
.tour label {
  padding-bottom: 5px;
  color: #337ab7;
}
.fa-star {
  color: #f99500;
  size: 1px;
}
.tourbtn button {
  background: #f99500;
  width: 150px;
  height: 100%;
  font-size: 20px;
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  border-radius: 6px;
}
.tour::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 70%;
  background: #ddd;
  top: 50%;
  transform: translateY(-50%);
}
.tour select {
  border: none;
  outline: none;
  font-size: 16px;
  font-family: Montserrat;
}

/* .topnav {
  background-color: rgb(17, 54, 87);
  overflow: hidden;
  padding-left: 50px;  */
/* }  */

/* Style the links inside the navigation bar */
/* .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}  */
*/

/* Change the color of links on hover */
 /* .topnav a:hover {
  background-color: #ddd;
  color: black;
}  */

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #04AA6D;
  color: white;
}  */
nav {
  color: #f2f2f2;
  text-align: center;

  margin: 20px;
  font-size: 17px;
  padding: 20px;
}
.menu {
  padding: 10px 0;
  background-color: rgb(17, 54, 87);
}

.menu li {
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: white;
  width: 100px;
  height: 120px;
  transition: 0.3s all;
  margin: 40px;
  padding: 10px 6px;
}
.menu a:hover {
  background: #04aa6d;
}

.dropdown {
  position: relative;
}

.dropdown:hover > .submenu {
  display: flex;
  flex-direction: column;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #0d3558;
  width: 240px;
  z-index: 999;
}

.menu li {
  position: relative;
}
.menu li:hover > .submenu {
  display: block;
  height: 430px;
  width: 300px;
  background-color: #0c3f6b;
}

.submenu li {
  padding: 10px;
  z-index: 999;
  text-align: center;
}

.submenu2 {
  display: none;
  position: absolute;
  background-color: #0d3558;
  left: 100%;
  width: 240px;
  height: 300px;
  z-index: 999;
}
.submenu3 {
  display: none;
  position: absolute;
  background-color: #0d3558;
  left: 100%;
  width: 240px;
  height: 300px;
  z-index: 999;
}
.menu li:hover > .submenu2 {
  display: block;
}
.menu li:hover > .submenu3 {
  display: block;
}
.submenu li::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 70%;
  padding-top: 20px;
  border-bottom: 1px solid rgb(215, 213, 240);
}
.headersec {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  background-color: #f1f4f5;
}

.intro {
  background-color: #f2f4f5;
  padding: 46px;
}
.intro h1 {
  color: #0072aa;
  text-align: center;
  padding: 12px 0px;
}

.fa-facebook-official {
  color: #3b5998;
}
.fa-twitter {
  color: rgb(29, 155, 240);
}
.fa-instagram {
  color: #8a3ab9;
}

.intro p {
  text-align: center;
  line-height: 40px;
}
.fa-solid .fa-person-hiking {
  color: #cfcfcf;
}

.intro p span {
  color: #0072aa;
}
.footer {
  display: flex;
  justify-content: space-between;
  color: white;
  background: rgb(3, 50, 92);
}

.heli img {
  width: 320px;
  object-fit: cover;
  height: 300px;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}
.associate {
  margin: 20px;
  text-align: center;
  font-weight: 700;
  padding: 10px;
  line-height: 30px;
}

.copyright {
  /* display: flex;
  justify-content: space-between; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  color: black;
  background: #f6f7f9;
}
.copyright span {
  padding-top: 20px;
}
.heli img:hover {
  transform: scale(1.1);
}

.infos h3 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 45px;
  padding-bottom: 20px;
  padding-left: 50px;
}
.address {
  padding-left: 50px;
}
.infos h3:after {
  content: "";
  display: block;
  position: relative;
  width: 40%;
  padding-bottom: 10px;
  border-bottom: solid 3px #f99500;
}
.services h3 {
  font-size: 20px;
  font-weight: 500;
  padding-top: 35px;
  padding-bottom: 20px;
}
.tour label {
  padding-bottom: 20px;
  padding-top: 20px;
}
.services h3:after {
  content: "";
  display: block;
  position: relative;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: solid 3px #f99500;
}

.services {
  line-height: 40px;
}
.trips {
  line-height: 40px;
  margin: 40px;
}

.searchbox {
  margin: auto;
  margin-top: 30px;
  width: 420px;
  height: 50px;
  border: 2px solid #04aa6d;
  border-radius: 50px;
}
.searchh {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #f1f4f5;
  border: none;
  padding: 10px;
}
.searchh:focus {
  border: none;
}

.hikes img{
  object-fit: cover;
  width: 100%;
  height: 250px;
}
span{
  color: #58a7ec;
  }
  .hikes h1{
    padding: 30px;
  }